In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('salaries.csv')
df.head()

  company                  job     degree  salary_more_then_100k
0  google      sales executive  bachelors                      0
1  google      sales executive    masters                      0
2  google     business manager  bachelors                      1
3  google     business manager    masters                      1
4  google  computer programmer  bachelors                      0

In [5]:
inputs = df.drop('salary_more_then_100k',axis=1)
target = df.salary_more_then_100k

In [7]:
from sklearn.preprocessing import LabelEncoder

le_company = LabelEncoder()
le_degree = LabelEncoder()
le_job = LabelEncoder()

In [9]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [10]:
inputs.head()

  company                  job     degree  company_n  job_n  degree_n
0  google      sales executive  bachelors          2      2         0
1  google      sales executive    masters          2      2         1
2  google     business manager  bachelors          2      0         0
3  google     business manager    masters          2      0         1
4  google  computer programmer  bachelors          2      1         0

In [12]:
inputs_n = inputs.drop(['company','job','degree'],axis=1)
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [13]:
from sklearn import tree

In [14]:
model = tree.DecisionTreeClassifier()

In [15]:
model.fit(inputs_n,target)

DecisionTreeClassifier()

In [16]:
model.score(inputs_n,target)

1.0

In [18]:
model.predict([[2,2,1]])

C:\Users\youse\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([0], dtype=int64)

In [3]:
## exercise
import pandas as pd

df = pd.read_csv('Exercise_Descsion_tree.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)

In [30]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Sex'] = le.fit_transform(df['Sex'])
df['Age'].fillna(df['Age'].mean(),inplace=True)

In [31]:
from sklearn.model_selection import train_test_split
from sklearn import tree

In [32]:
model_tree = tree.DecisionTreeClassifier()
X = df.iloc[:,1:]
Y = df['Survived']

In [33]:
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.2)

In [34]:
model_tree.fit(X_train,y_train)

DecisionTreeClassifier()

In [35]:
model_tree.score(X_test,y_test)

0.7597765363128491