In [1]:
## Multivariete regerssion

In [2]:
import numpy as np
import pandas as pd
from sklearn import linear_model

In [7]:
df = pd.read_csv('house prices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [8]:
df['bedrooms'].fillna(df['bedrooms'].median(),inplace=True)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [21]:
req = linear_model.LinearRegression()

In [22]:
X = df.iloc[:,0:3] # to slice the coulmns and take speicifc columns
Y = df['price']
#req.fit(df[['area','bedrooms','age']],df[['price']])
req.fit(X,Y)
Y

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [24]:
req.predict([[2500,3,5]])

C:\Users\youse\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([555487.15741139])