In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis=1,inplace=True)
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [19]:
target = df.Survived
inputs_var = df.drop(['Survived'],axis=1)

In [20]:
dummies = pd.get_dummies(inputs_var.Sex)

In [21]:
inputs_var = pd.concat([inputs_var,dummies],axis=1)
inputs_var.drop('Sex',axis=1,inplace=True)
inputs_var.head()

   Pclass   Age     Fare  female  male
0       3  22.0   7.2500       0     1
1       1  38.0  71.2833       1     0
2       3  26.0   7.9250       1     0
3       1  35.0  53.1000       1     0
4       3  35.0   8.0500       0     1

In [22]:
## to find the NaN values in the data frame
inputs_var.columns[inputs_var.isna().any()]

Index(['Age'], dtype='object')

In [27]:
inputs_var.Age = inputs_var.Age.fillna(inputs_var.Age.mean())

In [28]:
inputs_var.head(10)

   Pclass        Age     Fare  female  male
0       3  22.000000   7.2500       0     1
1       1  38.000000  71.2833       1     0
2       3  26.000000   7.9250       1     0
3       1  35.000000  53.1000       1     0
4       3  35.000000   8.0500       0     1
5       3  29.699118   8.4583       0     1
6       1  54.000000  51.8625       0     1
7       3   2.000000  21.0750       0     1
8       3  27.000000  11.1333       1     0
9       2  14.000000  30.0708       1     0

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(inputs_var, target, test_size=0.33)

In [31]:
## use bayes classifier gaussian
from sklearn.naive_bayes import GaussianNB

In [32]:
model = GaussianNB()

In [33]:
model.fit(X_train,y_train)

GaussianNB()

In [34]:
model.score(X_test,y_test)

0.7457627118644068

# Part 2 of naive bayes email spam detector

In [35]:
df = pd.read_csv('spam.csv')

In [36]:
df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [41]:
df['spam'] = df['Category'].apply(lambda x: 1 if x=="spam" else 0)
df.head()

  Category                                            Message  spam
0      ham  Go until jurong point, crazy.. Available only ...     0
1      ham                      Ok lar... Joking wif u oni...     0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3      ham  U dun say so early hor... U c already then say...     0
4      ham  Nah I don't think he goes to usf, he lives aro...     0

In [42]:
X_train, X_test, y_train, y_test = train_test_split(df.Message, df.spam, test_size=0.33)

In [49]:
from sklearn.feature_extraction.text import CountVectorizer
v = CountVectorizer()
X_train_count = v.fit_transform(X_train.values)
X_train_count.toarray()[:3]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [50]:
from sklearn.naive_bayes import MultinomialNB

model = MultinomialNB()
model.fit(X_train_count,y_train)

MultinomialNB()

In [51]:
X_test_count = v.transform(X_test)
model.score(X_test_count,y_test)

0.9912996193583469

In [52]:
from sklearn.pipeline import Pipeline

In [53]:
## instead fo code written above we wrties here same code but use pipline

clf = Pipeline([
    ('vectorizer',CountVectorizer()),
    ('nb',MultinomialNB())
])

In [54]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [55]:
clf.score(X_test,y_test)

0.9912996193583469

In [56]:
## exercise on wine dataset